mixin FORM(__name, __label, __icon, __type, __placeholder, __help)
  div.control-group
    label.control-label(for='#{__name}')
      h4 #{__label}
    div.controls
      div.input-prepend
        span.add-on
          i(class='#{__icon}')
        input(type='#{__type}', class='input-xlarge', name='#{__name}', id='#{__name}', placeholder='#{__placeholder}')
      div.help-inline
        i.icon-question-sign
      p.help-block !{__help}


include includes/navbar
style
  .help-block {
    background-color: #EEE;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .help-inline > i {
    font-size: 22px;
    padding: 10px;
  }
  .help-inline > i:hover {
    color: #cc0000;
  }
div.container-fluid
  div.row-fluid
    div.span1
    div.span10
      form(class='form-horizontal', id='signupForm', method='POST', action='/login')
        input(type='hidden', name='_csrf', id='_csrf', value='#{session._csrf}')
        fieldset
          
          legend
            h2 Sign up with 'Eter Training
            p The only running website that's 100% approved by Peter Downs, Max Norris, Brian Klick, and Jack Huemmler.
            
          mixin FORM('username', 'Desired username', 'icon-user', 'text', 'me123', 'This is the username that other members will see on our forums. Choose something unique!')

          mixin FORM('email', 'Your email address', 'icon-envelope', 'text', 'me@gmail.com', 'Your email works like your username, and lets us contact you with important information related to your training or your account. We promise to never give your email to anyone, and to never send you any sort of spam. <br><br> This must be a valid email address.')
            
          div.control-group
            label.control-label(for='password2')
              h4 Your password
            div.controls
              div.input-prepend
                span.add-on
                  i.icon-key
              input(type='password', class='input-xlarge', name='password2', id='password2', placeholder='my-pass-123')
              br
              br
              div.input-prepend
                span.add-on
                  i.icon-key
              input(type='password', class='input-xlarge cancel', name='password', id='password', placeholder='(same as above)')
              div.help-inline
                i.icon-question-sign
              p(class='help-block') This is the password you will use to log in to our site. We make you type it twice so that you catch any mistakes!
            
          div.control-group
            label.control-label
            div.controls
              input(class='btn btn-large btn-success', id='signupSubmit', type='submit', value='Create My Account →')

    
    div.span1
script(src='/js/jquery.validate.js');
script(src='/js/validate-signup.js');
