- var today = session.user.calendar[dayKey];
style
  .planText, .planEmph {
    text-align: center;
  }
  .planText {
  }
  .planEmph {
    color: #4183c4;
    background: white;
    
    color: white;
    background: #4183c4;
    
    color: #2ba949;
    background: white;
    
    color: white;
    background: #2ba949;

    border-radius: 10px;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #progressContainer, #progressPercent {
    height: 30px;
  }
  #progressPercent {
    width: 0%;
  }
  #progressContainer {
    background: #ccc;
  }
  #phaseInfo {
    text-align: center;
  }
  #alertsRow {
    display: none;
  }
  table {
    width: 100%;
  }

include includes/navbar
div.container-fluid
  div.row-fluid
    div.span2
      include mixins/sidebar
      mixin sidebar('Dashboard')
    div.span10
      div.row-fluid(id='progressRow')
          div.span9.progress.loading.progress-striped(id='progressContainer')
            div.bar(id='progressPercent')
              h3
          div.span3
            h3(id='phaseInfo')
              | Phase #{today.phase} (Week #{today.week}/24)
        hr
      div.row-fluid(id='alertsRow')
        hr

      div#today
      div.row-fluid(id='planRow')
        div.span12.well
          div.span6
            div.planText
              h2 Your run today is
            div.planEmph
              h2(id='distance')
                | #{today.plan.distance.val} #{today.plan.distance.unit}s (#{today.plan.type.name})
            div.planText
              h2 in
            div.planEmph
              h2(id='time')
                | #{today.plan.time.str.min}:#{today.plan.time.str.sec}
          div.span6
            h3(id='infohead')
              | More information about #{today.plan.type.name} runs:
            div(id='moreinfo')
              #{today.plan.type.info}
      div.row-fluid(id='logRow')
        div.span12
          div.span6.well(style='text-align:center')
            include includes/logging-form
          div.span6.well
            div(style='text-align:center')
              h2 History
            table.table
              thead
                tr
                  th Week
                  th Total Miles
                  th Total Time
                  th Average Mile Pace
                  th On Target?
              tbody
                tr
                  td 16 (Current)
                  td 15.3
                  td 2:10:43
                  td 11:09
                  td 
                    i.icon-ok
                tr
                  td 15
                  td 14.2
                  td 2:50:24
                  td 12:00
                  td
                    i.icon-remove
                tr
                  td 14
                  td 15.8
                  td 2:45:54
                  td 10:30
                  td
                    i.icon-ok
            a(href='statistics') ... more statistics
script
  $(document).ready(function(){
    $('#progressPercent').width(String(#{today.week}+20)+'%');
    $('#progressPercent > h3').html(String(#{today.week})+'%');
  });
